<script setup>

import {  ref } from 'vue';
import { auth_user } from '@/services/auth'
import { useRouter } from 'vue-router';
const user = ref({identifier: '', password: ''})
const router = useRouter()
async function submitForm(){
    let response = await auth_user(user.value)
    console.log("🚀 ~ file: LoginView.vue:12 ~ submitForm ~ response:", response)
    router.push({name: 'todo'})
}
</script>
<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 b-center bg-size" :style="{ backgroundImage: 'url('+ require('../../assets/images/login/2.jpg') +')' }" style="background-size: cover; background-position: center center; display: block;">
            <img class="bg-img-cover bg-center" src="../../assets/images/login/2.jpg" alt="looginpage" style="display: none;" />
        </div>
        <div class="col-xl-5 p-0">
            <div class="login-card">
                <div>
                    <div>
                        <a class="logo text-start">
                            <img class="img-fluid for-light" src="../../assets/images/logo/logo.png" alt="looginpage" />
                            <img class="img-fluid for-dark" src="../../assets/images/logo/logo_dark.png" alt="looginpage" />
                        </a>
                    </div>
                    <div class="login-main ">
                        <form @submit.prevent="submitForm()" class="theme-form" >
                            <h4>Sign in to account</h4>
                            <p>Enter your email & password to login</p>
                            <div class="form-group">
                                <label class="col-form-label">Email Address / Username</label>
                                <input class="form-control" type="text" required="" placeholder="Test@gmail.com" v-model="user.identifier"/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" :type="active?'password':'text'" name="login[password]"  required="" placeholder="*********" v-model="user.password"/>
                                    <div class="show-hide"><span :class="active?'show':'hide'"  @click.prevent="show"></span></div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <button type='submit' class="btn btn-primary btn-block w-100">
                                    Sign in 
                                 </button>
                            </div>
                            <p class="mt-4 mb-0 text-center">
                                Don't have account?
                                <router-link class="ms-2" tag="a" to="/auth/register">
                                    Create Account
                                </router-link>
                            </p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</template>