<script setup>
import {  ref } from 'vue';
import { register_user } from '@/services/auth'
import { useRouter } from 'vue-router';

const router = useRouter()
const user = ref({
    full_name: '',
    username: '',
    email: '',
    password: ''
})

async function submitForm(){
    let response = await register_user(user.value)
    // let response = await auth_user({identifier: form.value.name, password: form.value.password})
    console.log("🚀 ~ file: LoginView.vue:12 ~ submitForm ~ response:", response)
    router.push({name: 'todo'})
}
</script>

<template>
<div>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-xl-5 b-center bg-size " :style="{ backgroundImage: 'url('+ require('../../assets/images/login/3.jpg') +')' }" style="background-size: cover; background-position: center center; display: block;">
                <img class="bg-img-cover bg-center" src="../../assets/images/login/3.jpg" alt="looginpage" style="display: none;" />
            </div>
            <div class="col-xl-7 p-0">
                <div class="login-card">
                    <div>
                        <div>
                            <a class="logo">
                                <img class="img-fluid for-light" src="../../assets/images/logo/logo.png" alt="looginpage" />
                                <img class="img-fluid for-dark" src="../../assets/images/logo/logo_dark.png" alt="looginpage" />
                            </a>
                        </div>
                        <div class="login-main">
                            <form @submit.prevent="submitForm()" class="theme-form">
                                <h4>Create your account</h4>
                                <p>Enter your personal details to create account</p>
                                <div class="form-group">
                                    <label class="col-form-label pt-0">Your Name</label>
                                    <div class="row g-2">
                                        <div class="col-12">
                                            <input class="form-control" type="text" required="" placeholder="Full name" v-model="user.full_name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Username</label>
                                    <input class="form-control" type="text" required="" placeholder="Test@gmail.com" v-model="user.username"/>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Email Address</label>
                                    <input class="form-control" type="email" required="" placeholder="Test@gmail.com" v-model="user.email"/>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Password</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control" :type="active?'password':'text'" name="login[password]" required="" placeholder="*********" v-model="user.password"/>
                                        <div class="show-hide"><span :class="active?'show':'hide'" @click.prevent="show"> </span></div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="checkbox p-0">
                                        <input id="checkbox1" type="checkbox" />
                                        <label class="text-muted" for="checkbox1">Agree with<a class="ms-2" href="#">Privacy Policy</a></label>
                                    </div>
                                    <button class="btn btn-primary btn-block">
                                        Create Account
                                    </button>
                                </div>
                                <p class="mt-4 mb-0">
                                    Already have an account?
                                    <router-link class="ms-2" tag="a" to="/auth/login">
                                        Login
                                    </router-link>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
