<script setup>
import { onMounted, ref } from 'vue';
import { get_content,delete_content, update_content, create_content } from '@/services/content'
import dayjs from 'dayjs'
const lists = ref([])
const user = ref({})
onMounted(async ()=>{
    user.value = JSON.parse(localStorage.getItem('userData'))
    let response = await get_content('lists', 'filters[user][$eq]=' + user.value.id)
    console.log("🚀 ~ file: addtask.vue:9 ~ onMounted ~ response:", response)
    lists.value = response.result.data.data
    parseClass()
})

function parseClass(){
    lists.value = lists.value.map(item =>{
        if (item.attributes.status == 'complete'){
            item['class'] = 'badge-light-success'
        }else{
            item['class'] = 'badge-light-danger'
        }
        return item
    })
}
const task = ref({
    name: '',
    status: 'pending',
    user: ''
})
async function addnewtask() {
    task.value.user = user.value.id
    let response = await create_content(task.value, 'lists' )
    console.log("🚀 ~ file: addtask.vue:33 ~ addnewtask ~ response:", response)
    Toast.show('Task list is updated.', {
        theme: 'outline', position: 'top-right', type: 'success', duration: 2000
    });
    lists.value.push(response.result.data.data)
    task.value.name = ''
}

async function tododelete(id, index) {
    let response = await delete_content(id, 'lists')
    lists.value.splice(index, 1)
    Toast.show('Task has been deleted.', {
        theme: 'outline', position: 'top-right', type: 'success', duration: 2000
    });
}

async function taskcomplete(id, status) {
    let response = await update_content(id, 'lists', {status: 'complete'})
    console.log("🚀 ~ file: addtask.vue:55 ~ taskcomplete ~ response:", response)
    Toast.show('Tasks marked as complete.', {
        theme: 'outline', position: 'top-right', type: 'success', duration: 2000
    });
}

</script>

<template>
    <div class="card">
        <div class="card-header b-bottom">
            <div class="todo-list-header">
                <div class="new-task-wrapper input-group">
                    <input class="form-control" id="new-task" placeholder="Enter new task here. . ."
                        v-model="task.name"><span
                        class="btn btn-primary d-flex input-group-text add-new-task-btn" id="add-task"
                        @click="addnewtask()">Add Task</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="todo">
                <div class="todo-list-wrapper">
                    <div class="todo-list-container">
                        <div class="todo-list-body custom-scrollbar">
                            <ul id="todo-list">
                                <li v-for="(todo, index) in lists" :key="index" class="task"
                                    :class="{ 'completed': todo.attributes.status == 'complete' }">
                                    <div class="task-container">
                                        <h4 class="task-label"> {{ todo.attributes.name }} </h4>
                                        <div class="d-flex align-items-center gap-3">
                                            <div>
                                                <span class="badge " :class="todo.class">{{ todo.attributes.status }}</span>
                                            </div>
                                            <h5 class="assign-name m-0">{{ dayjs(todo.attributes.createdAt).format('DD MMM') }}</h5>
                                            <span class="task-action-btn">
                                                <span @click="tododelete(todo.id, index)" class="action-box large delete-btn"
                                                    title="Delete Task">
                                                    <i class="icon"><i class="icon-trash"></i></i>
                                                </span>
                                                <span @click="taskcomplete(todo.id)"
                                                    class="action-box large complete-btn" title="Mark Complete"><i
                                                        class="icon"><i class="icon-check"></i></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- <script>
import { mapState } from 'vuex';
export default {
    data() {
        return {
            markallread: true, task: '', addtask: false,
        }
    },
    computed: {
        ...mapState({
            todolist: state => state.todo.todo,
        })
    },
    methods: {
        addnewtask() {
            if (this.task !== '') {
                this.$store.commit('todo/addtodo', this.task); this.task = '';
                this.addtask = false;
                this.$toast.show('Task list is updated.', {
                    theme: 'outline', position: 'top-right', type: 'success', duration: 2000
                });
            }
        },
        alltaskcomplete() {
            this.$store.commit('todo/alltaskcomplete', this.markallread);
            this.markallread = !this.markallread;
            if (this.markallread)
                this.$toast.show('All tasks marked as Incomplete.', {
                    theme: 'outline', position: 'top-right', type: 'error', duration: 2000
                });
            else
                this.$toast.show('All tasks marked as complete.', {
                    theme: 'outline', position: 'top-right', type: 'success', duration: 2000
                });
        },
        tododelete(id) {
            this.$store.commit('todo/tododelete', id);
            this.$toast.show('Task has been deleted.', {
                theme: 'outline', position: 'top-right', type: 'success', duration: 2000
            });
        },
        taskcomplete(id, status) {
            this.$store.commit('todo/taskcomplete', id);
            if (status !== 'complete')
                this.$toast.show(' tasks marked as complete.', {
                    theme: 'outline', position: 'top-right', type: 'success', duration: 2000
                });
            else
                this.$toast.show(' tasks marked as incomplete.', {
                    theme: 'outline', position: 'top-right', type: 'error', duration: 2000
                });
        },
    },
}
</script>
 -->

 <style>
 .icon-pencil{
    color: #7366ff;
 }
</style>