<script setup>
import { get_content,delete_content, update_content, create_content } from '@/services/content'
import { onMounted, ref } from 'vue';
const user = ref({})
const lists = ref([])
const status = ref({complete: 0, pending: 0})
onMounted(async()=>{
  user.value = JSON.parse(localStorage.getItem('userData'))
  let response = await get_content('lists', 'filters[user][$eq]=' + user.value.id)
  lists.value = response.result.data.data
  let temp = lists.value.filter(item => item.attributes.status == 'pending')
  status.value.pending = temp.length
  temp = lists.value.filter(item => item.attributes.status == 'complete')
  status.value.complete = temp.length
})


</script>
<template>
    <div class="col-xl-3 xl-30 box-col-12">
               <div class="email-sidebar md-sidebar"><a class="btn btn-primary email-aside-toggle md-sidebar-toggle" @click="collapseFilter()">To Do filter</a>
                 <div class="email-left-aside md-sidebar-aside" :class="filtered?'open':''">
                   <div class="card"> 
                     <div class="card-body"> 
                       <div class="email-app-sidebar left-bookmark custom-scrollbar">
                         <div class="d-flex align-items-center">
                           <div class="media-size-email"><img class="me-3 img-40 rounded-circle" src="@/assets/images/user/user.png" alt=""></div>
                           <div class="flex-grow-1"> 
                             <h6 class="f-w-600">{{ user.fullname }}</h6>
                             <p>{{ user.email }}</p>
                           </div>
                         </div>
                         <ul class="nav main-menu">
                           <li class="nav-item">
                            <newTodo/>
                           </li>
                           <li class="nav-item"><a href="javascript:void(0)">
                            <span class="iconbg badge-light-primary"><vue-feather type="file-plus"></vue-feather></span><span class="title ms-2">
                              All Task
                            </span>
                          </a></li>
                           <li class="nav-item"><a href="javascript:void(0)">
                            <span class="iconbg badge-light-success"><vue-feather type="check-circle"></vue-feather></span><span class="title ms-2">
                              Completed
                            </span><span class="badge rounded-pill badge-success">{{ status.complete}}</span>
                          </a></li>
                          <li class="nav-item"><a href="javascript:void(0)">
                            <span class="iconbg badge-light-danger"><vue-feather type="cast"></vue-feather></span><span class="title ms-2">
                              Pending</span><span class="badge rounded-pill badge-danger">
                                {{status.pending}}
                              </span>
                            </a></li>
                         </ul>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
</template>