<script setup>
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { delete_token } from '@/services/auth'

const user = ref({})
onMounted(()=>{
  user.value = JSON.parse(localStorage.getItem('userData'))
})

const router = useRouter()
async function logout(){
  let response = await delete_token()
  router.push({name: 'login'})
}
</script>
<template>
  <li class="profile-nav onhover-dropdown pe-0 py-0">
    <div class="media profile-media">
      <div class="media-body">
        <span>{{ user.full_name }}</span>
        <p class="mb-0 font-roboto">
          User <i class="middle fa fa-angle-down"></i>
        </p>
      </div>
    </div>
    <ul class="profile-dropdown onhover-show-div">
      <li>
        <a @click="logout"
          ><vue-feather type="log-in"></vue-feather><span>Log out</span></a
        >
      </li>
    </ul>
  </li>
</template>